<div>
    <h2>
        <span jhiTranslate="qualiToastApp.campagne.home.title">Campagnes</span>
        <button class="btn btn-primary float-right create-campagne" [routerLink]="['/', { outlets: { popup: ['campagne-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="qualiToastApp.campagne.home.createLabel">
            Create new Campagne
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'qualiToastApp.campagne.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campagnes">
        <table class="table table-striped">
            <thead class="table thead-inverse">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="application.id"><span jhiTranslate="qualiToastApp.campagne.application">Application</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="version"><span jhiTranslate="qualiToastApp.campagne.version">Version</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datedebut"><span jhiTranslate="qualiToastApp.campagne.datedebut">Début</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datefin"><span jhiTranslate="qualiToastApp.campagne.datefin">Fin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bloquant"><span jhiTranslate="qualiToastApp.campagne.bloquant">Bloquant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="majeur"><span jhiTranslate="qualiToastApp.campagne.majeur">Majeur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mineur"><span jhiTranslate="qualiToastApp.campagne.mineur">Mineur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="termine"><span jhiTranslate="qualiToastApp.campagne.termine">Terminé</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="typetest.id"><span jhiTranslate="qualiToastApp.campagne.typetest">Type de test</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resultat.id"><span jhiTranslate="qualiToastApp.campagne.resultat">Résultat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="testeur.id"><span jhiTranslate="qualiToastApp.campagne.testeur">Testeur(s)</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campagne of campagnes ;trackBy: trackId">
                <td>
                    <div *ngIf="campagne.application">
                        <a [routerLink]="['../application', campagne.application?.id ]" >{{campagne.application?.nom}}</a>
                    </div>
                </td>
                <td>{{campagne.version}}</td>
                <td>{{campagne.datedebut | date:'dd/MM/yyyy'}}</td>
                <td>{{campagne.datefin | date:'dd/MM/yyyy'}}</td>
                <td>{{campagne.bloquant}}</td>
                <td>{{campagne.majeur}}</td>
                <td>{{campagne.mineur}}</td>
                <td>
                    <div *ngIf="campagne.termine">OUI</div>
                    <div *ngIf="!campagne.termine">En cours</div>
                </td>
                <td>
                    <div *ngIf="campagne.typetest">
                        <a [routerLink]="['../type-test', campagne.typetest?.id ]" >{{campagne.typetest?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campagne.resultat">
                        <div *ngIf="campagne.resultat.code == 'Ok';else ko">
                            <a class="text-success btn-sm"  [routerLink]="['../resultat', campagne.resultat?.id ]" >
                                <i class="fa fa-check"></i>
                            </a>
                        </div>

                        <ng-template #ko>
                            <div *ngIf="campagne.resultat.code == 'Ko';else warning">
                                <a class="text-danger btn-sm"[routerLink]="['../resultat', campagne.resultat?.id ]" >
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template #warning>
                            <div>
                                <a class="text-warning btn-sm"[routerLink]="['../resultat', campagne.resultat?.id ]" >
                                    <i class="fa fa-warning"></i>
                                </a>
                            </div>
                        </ng-template>
                    </div>
                </td>
                <td>
                    <div *ngFor="let testeur of campagne.testeurs">
                    {{testeur.nom}}&nbsp;{{testeur.prenom}}
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campagne', campagne.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campagne/'+ campagne.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!--<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campagne/'+ campagne.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campagnes && campagnes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
