<div>
    <h2>
        <span jhiTranslate="qualiToastApp.testeur.home.title">Testeurs</span>
        <button class="btn btn-primary float-right create-testeur" [routerLink]="['/', { outlets: { popup: ['testeur-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="qualiToastApp.testeur.home.createLabel">
            Create new Testeur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'qualiToastApp.testeur.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testeurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="identifiant"><span jhiTranslate="qualiToastApp.testeur.identifiant">Identifiant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span jhiTranslate="qualiToastApp.testeur.nom">Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prenom"><span jhiTranslate="qualiToastApp.testeur.prenom">Prenom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="typetest.code"><span jhiTranslate="qualiToastApp.testeur.typetest">Typetest</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testeur of testeurs ;trackBy: trackId">
                <td>{{testeur.identifiant}}</td>
                <td><a [routerLink]="['../testeur', testeur.id ]">{{testeur.nom}}</a></td>
                <td>{{testeur.prenom}}</td>
                <td>
                    <div *ngIf="testeur.typetest">
                        <a [routerLink]="['../type-test', testeur.typetest?.id ]" >{{testeur.typetest?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../testeur', testeur.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'testeur/'+ testeur.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'testeur/'+ testeur.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="testeurs && testeurs.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
